$font-primary: "Aktiv Grotesk", sans-serif;


$color-background: #ffffff;
$color-background-secondary: #eaeaea;
$color-background-third: #f5f5f5;
$color-font-primary:#3A343B;
$color-font-secondary:#ffffff;

